* {
	padding: 0;
	margin: 0;
}

body {
	background: black;
}

.events-box {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.form-txt {
	color: black;
}

.ques {
	color: white;
}

.myEvent {
	display: flex;
	height: auto;
	width: 500px;
	position: relative;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 10px;
	padding: 10px;
	border-radius: 10%;
	color: white;
	font-size: 2.1rem;
	box-shadow: 2px white;
}

.myEvent::before {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	background: url('../images/myEventish.jpg') no-repeat center center/cover;
	opacity: 0.7;
	height: 100%;
	width: 100%;
	z-index: -1;
}

.del-btn {
	padding: 10px;
	margin: 10px;
	color: black;
}

.edit-button {
	background: white;
	padding-top: 5px;
	border: 0px;
	padding: 10px;
	margin: 10px;
	color: black;
}

.myOperations {
	display: flex;
	flex-direction: rows;
	flex-wrap: wrap;
}

.eventNameHeading {
	color: white;
	font-size: 2.8rem;
}

.knowMores {
	font-size: 1.3rem;
	padding: 10px;
	margin: 10px;
	display: block;
	color: black;
}

.header {
	color: white;
	text-align: center;
	padding: 20px;
	margin: 10px;
	font-family: 'Oswald', sans-serif;
	font-size: 2.4rem;
}

#PageHead {
	color: white;
	text-align: center;
	padding: 20px;
	margin: 10px;
	font-family: 'Oswald', sans-serif;
	font-size: 4rem;
}

.footer {
	color: white;
	text-align: center;
	padding: 20px;
	margin: 10px;
	font-family: 'Oswald', sans-serif;
	font-size: 2.4rem;
}

.myFormForActions {
	display: flex;
	width: 600px;
	margin: auto;
	flex-direction: column;
	padding: 10px;
}

.back {
	cursor: pointer;
	padding: 10px;
	margin: 10px;
	display: block;
	font-size: 1.3rem;
	color: black;
	background: white;
	border-radius: 20%;
	width: 120px;
	margin: auto;
	font-size: 1.3rem;
}

.back:hover {
	background: red;
}

.save {
	cursor: pointer;
}

.save:hover {
	background: green;
}

.myFormInputs {
	padding: 10px;
	margin: 10px;
	font-size: 1.3rem;
	color: black;
	background: white;
}
